version: '3.8'
services:
  app:
    build: .
    volumes:
      - .:/pms_app
    ports:
      - 8000:8000
    image: app:pms
    container_name: pms_container
    command: python manage.py runserver 0.0.0.0:8000

