Django
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-filter==22.1
django-multiselectfield==0.1.12
django-quill==0.1.0
django-quill-editor==0.1.40
djangorestframework==3.13.1
passlib==1.7.4
Pillow==9.2.0
psycopg2==2.9.5
pycparser==2.21
PyJWT==2.4.0
python-decouple==3.5
