{% extends 'base.html' %}
{% block title %}{{request.user.profile.full_name}}'s dashboard{% endblock title %}
{% block body %}
<div class="page-body-wrapper">
        
  {% include 'sidebar.html' %}
  
  <div class="page-body">
    <div class="container-fluid">        
      <div class="page-title">
        <div class="row">

        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid default-dash">
      <div class="row"> 
        
        <div class="col-xl-6 col-md-6 dash-xl-50">
          <div class="card profile-greeting">
            <div class="card-body">
              <div class="media">
                <div class="media-body"> 
                  <div class="greeting-user">
                    <h1>Hello, {{request.user.profile.full_name}}</h1>
                    <p>Welcome back, your dashboard is ready!</p><a class="btn btn-outline-white_color" href="{% url 'leader:leader_project_add' %}">Get Started<i class="icon-arrow-right">                           </i></a>
                  </div>
                </div>
              </div>
              <div class="cartoon-img"><img class="img-fluid" src="/static/assets/images/images.svg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 dash-xl-50">
          <div class="card pb-0 o-hidden earning-card">
            <div class="card-header earning-back"></div>
            <div class="card-body p-0">
              {% if request.user.profile.employe_image %}
                <div class="earning-content"><img class="img-fluid" style="width:53px;" src="{{request.user.profile.employe_image.url}}" alt=""><a href="blog-single.html">
              {% else %}
                <div class="earning-content"><img class="img-fluid" src="/static/assets/images/avatar.jpg" alt=""><a href="blog-single.html">
              {% endif %}
                <h4>Totals Balance</h4></a><span>(Mon 15 - Sun 21)</span>
                <h6>${{totals_balance}}</h6>
                <div id="earning-chart"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6 dash-35 dash-xl-100">
          <div class="card ongoing-project">
            <div class="card-header card-no-border">
              <div class="media media-dashboard">
                <div class="media-body"> 
                  <h5 class="mb-0">Ongoing Projects         </h5>
                </div>
                <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
                  <div class="icon-box-show onhover-show-div">
                    <ul> 
                      <li> <a>
                           Done</a></li>
                      <li> <a>
                           Pending</a></li>
                      <li> <a>
                           Rejected</a></li>
                      <li> <a>In Progress</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="table-responsive custom-scrollbar">
                <table class="table table-bordernone">
                  <thead> 
                    <tr> 
                      <th> <span>Category </span></th>
                      <th> <span>Project</span></th>
                      <th> <span>Leader </span></th>
                      <th> <span>Client Budget </span></th>
                      <th> <span>Start Date </span></th>
                      <th> <span>End Date </span></th>
                      <th> <span>Status </span></th>
                    </tr>
                  </thead>
                  <tbody> 
                    
                    {% for project in ongoing_projects %}
                      <tr>
                        <td>
                          <div class="media">
                            <div class="media-body ps-2">
                              <div class="avatar-details">
                                <a href="product-page.html">
                                  <h6>{{project.category}}</h6>
                                </a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="img-content-box">
                          <h6>{{project.name}}</h6>
                        </td>
                        <td>
                          <h6>{{project.leader}}</h6>
                        </td>
                        <td>
                          <h6>{{project.project_client_budget}}</h6>
                        </td>
                        <td>
                          <h6>{{project.work_start_date}}</h6>
                        </td>
                        <td>
                          <h6>{{project.work_end_date}}</h6>
                        </td>
                        <td>
                          <div class="badge badge-light-info">{{project.status}}</div>
                        </td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
  
{% endblock body %}
    
    